.card {
    float: left;
    width: 30%;
    max-width: 200px;
    margin: auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 0 10px;
    button {
        background: none;
        border: none;
        width: 100%;
        padding: 5px;
        cursor: pointer;
        text-align: left;
    }
}
.menu-item {
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
.btn-container {
    // background: #ededed;
    padding: 15px;
    display: flex;
    border-bottom: 1px solid;
    button {
        background: #fff;
        color: rgb(13, 66, 157);
        font-style: bold;
    }
}
.card-content {
    padding: 15px;
    float: left;
    border: 1px solid #000;
    margin-left: 15px;
    min-height: 100vh;
    width: 70%;
}
.wrapper {
    width: 100%;
    float: left;
}
label {
    font-weight: 600;
    padding: 15px;
}
.row {
    margin-bottom: 10px;
}
