<div>
    <div class="wrapper">
       
       
        <div class="card">
            <div class="btn-container">
                <button (click)="nextData()">
                    Next
                </button>
                <button (click)="previousData()">
                    Previous
                </button>
            </div>
            <h3>
                List of Pokemons :
            </h3>
            <div *ngFor="let d of data" class="menu-item">
                <button (click)="getPokemonData(d.name)">{{d.name}}</button>
            </div>
        </div>
        <div class="card-content" *ngIf="pokemonData">
            <div class="row">
                <label>Name:</label>
                <span>{{pokemonData.name}}</span>
            </div>
            <div class="row"> 
                <label>Height:</label>
                <span>{{pokemonData.height}}</span>
            </div>
            <div class="row">
                <label>Weight:</label>
                <span>{{pokemonData.weight}}</span>
            </div>
        </div>
    </div>


</div>